* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #18db86;
    --secondary: white;
    --secondary-ligth: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
}

body {
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    color: var(--secondary);
}

header {
    background-color: var(--dark2);
    position: sticky;
    top: 0;
    z-index: 30px;
    padding: 5px 0;
}

container {
    max-width: 1400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: var(--secondary);
    margin: 10px;
}

.navbar a:hover {
    border-bottom: var(--primary) solid;
}

.top_nav {
    background-color: var(--dark2);
    position: relative;
}

.top_nav img {
    width: 100%;
    height: 530px;
    opacity: 0.35;
}

/*div dentro de profile */
.profile div {
    position: absolute;
}

span {
    color: var(--primary);
}


/* ##################  Ciruclo ################## */

.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.ciculo_trasp {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 90px;
}

.div_ciruclo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.profile_img {
    top: 134px;
    z-index: 20;

}

.profile_img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}

.circulo_text {
    font-size: 1.8rem;
    color: var(--secondary);
    top: 380px;
    z-index: 11;
}

.circulo_text2 {
    font-size: 1rem;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
}

.circulo_text3 {
    font-size: 1.3rem;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
}

.circulo_text3 a {
    color: var(--secondary);
    text-decoration: none;
}

.circulo_text3:hover {
    border-bottom: var(--primary) solid;
}

.contacto_icon {
    top: 450px;
    z-index: 11;
}

.contacto_icon img {
    width: 40px;
    margin: 0 10px;
}

.contacto_icon img:hover {
    transform: scale(1.3);
}

/*  ############## porfafolio ################ */

.portafolio {
    background-color: var(--dark1);

}

.portafolio_section h2 {
    padding: 40px;
    text-align: center;
}

.portafolio_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.portafolio_grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.portafolio_grid img:hover {
    transform: scale(1.2);
}

/*  ############## Skills ################ */

section.skills {
    background-color: var(--dark1);
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.skills h2 {
    padding-bottom: 40px;
    padding: 40px;
}

.skills img {
    width: 50px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    justify-content: center;
    gap: 15px;
}

.herramientas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    justify-content: auto;
    gap: 15px;
}

/*  ############## tooltip titulos skills ################ */

.skill h3 {
    background-color: var(--dark2);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    color: var(--primary);
    opacity: 0;
    transform: translate(0px, -100px);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.knowledge>div:hover h3,
.herramientas>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -90px);

}

/*  ############## About ################ */

.about {
    background-color: var(--dark2);
}

.about h2 {
    text-align: center;
    padding: 10px;
}

.about_flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 100px;
}

.about p {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2rem;
    color: var(--secondary-ligth);
}

.social {
    border-left: var(--secondary) 2px solid;
    padding-left: 5px;
}

.social img {
    width: 40px;
    margin: 25px;
}

.social img:hover {
    transform: scale(1.5);
}

/*  ############## Footer ################ */

footer {
    background-color: var(--dark2);
    text-align: center;
    color: var(--secondary-ligth);
}

/*  ############## Modals ################ */

.eins-modal-content {
    max-width: 700px;
    background-color: var(--dark1);
}

.eins-modal-preview {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
}

.eins-modal-preview img {
    width: 100%;
    padding: 0 50px 20px 0;
}

.pw-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.eins-modal-text p {
    font-size: 1.1rem;
}

.eins-modal-text2 {
    padding: 70px 0 10px;
}

.eins-modal-text2 a {
    color: var(--secondary);
    margin: 5px;
}

.eins-modal-tec img {
    width: 50px;
    height: 50px;
}